Package: koruza
Version: 1.0-1
Section: base
Priority: optional
Architecture: armhf
Depends: libjson-c2 (>= 0.11)
Maintainer: Jernej Kos <jernej@kos.mx>
Description: KORUZA
 Control applications for KORUZA.

