Package: koruza
Version: 1.0-20170727-1
Section: base
Priority: optional
Architecture: armhf
Depends: libjson-c2 (>= 0.11), libcurl3 (>= 7.38), avrdude, git, wiringpi, python-openssl, hostapd, udhcpd
Maintainer: Jernej Kos <jernej@kos.mx>
Description: KORUZA
 Control applications for KORUZA.

