config mcu
        option 'device' '/dev/ttyAMA0'

config webcam
        option 'port' '8080'
        option 'path' '/?action=stream'
        option 'width' '960'
        option 'height' '540'
        option 'offset_x' '640'
        option 'offset_y' '360'
        option 'distance' '7000'

config motors
        option 'range_x' '25000'
        option 'range_y' '25000'
