[Unit]
Description=koruza-alignment
After=koruza-driver.service

[Service]
ExecStart=/usr/bin/python /home/pi/koruza-rpi-package/examples/alignment.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
