[Unit]
Description=uhttpd
After=ubus.service rpcd.service

[Service]
ExecStart=/usr/bin/uhttpd -f -h /srv/www -p 80 -u /ubus -X -D -x /info
Restart=on-failure

[Install]
WantedBy=multi-user.target
